/* CUSTOM VARIABLES */

:root {
  --blue: #2a2a72;
  --light-blue: #009ffd;
  --white: #f3f3f3;
  --dark: #232528;
  --yellow: #ffa400;
}

/* GLOBAL STYLING */

body {
  font-family: "Courier New", Courier, monospace, sans-serif !important;
  background: var(--white) !important;
  color: var(--dark) !important;
}

/* MAIN STYLING */

.text-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--blue);
}

.text-bright {
  color: var(--light-blue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.75rem !important;
  color: var(--dark) !important;
  border-radius: 0 !important;
  border: 0.1rem var(--dark) solid !important;
  transition: all 300ms ease-in-out;
}

.btn-black:hover {
  background: var(--dark) !important;
  color: var(--white) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--yellow);
}
